.container {
    text-align: center;
    height: 100%; 
    
    vertical-align: : middle;
}

.banner {
    background-color: #42AE74;
    height: 350px;
    padding-top: 0px;
}

.banner-text {
    color: white;
    font-size: 50px;
}

.banner-details-text {
    color: white;
    font-size:20px;
}

.desaturate {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.imageboard {
    margin: 0 auto;
}

.navbar-top {
    margin-bottom: 0px;
}

.content-panel {
	width: auto;
    height: 1000px;
}
